.wrapper {
  height: calc(100vh - 100px);
  margin-top: 55px;
  width: 100%;
  color: white;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendar {
  height: 500px;
}

ion-fab {
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin-bottom: var(--ion-safe-area-bottom, 0);
}

.item-native {
  height: 40px;
}

:host ::ng-deep .calendar-next-prev {
  background-color: white !important;
}

ion-datetime::part(month-year-button) {
  padding: 8px 20px;
}

.full-width {
  width: 100%;
  --width: 100%; /* For Ionic's internal styling */
}
