<ion-content fixed-slot-placement="before">
  <div class="wrapper">
    <div class="calendar">
      <ion-datetime
        id="calendar"
        size="cover"
        mode="ios"
        presentation="date"
        [highlightedDates]="highlightedDates"
        [(ngModel)]="selectedDates"
        [multiple]="multiple"
        (ionChange)="onDateChange($event)"
      >
      </ion-datetime>
    </div>

    <ion-list>
      <ion-item>
        <ion-toggle
          justify="space-between"
          [(ngModel)]="multiple"
          (ngModelChange)="toggleSelectionMode()"
          >Multiple Date Selector</ion-toggle
        >
      </ion-item>
      <div *ngFor="let entry of entries; let i = index">
        <ion-item-sliding *ngIf="isSelectedDateInEntry()?.includes(i)">
          <ion-item>
            <ion-label>
              index= {{ i }} {{ entry.title }} <br />
              {{ entry.description }}
            </ion-label>
            <ion-label style="text-align: right"
              >{{ entry.dates[0] }} <br />{{ entry.time }}</ion-label
            >
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option id="open-modal" (click)="openEditModal(entry, i)">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" (click)="deleteEntry(i)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>

    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title>
              <ng-container *ngIf="editingIndex === null; else editMode">
                Create New Entry
              </ng-container>
              <ng-template #editMode> Edit Entry </ng-template>
            </ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true"
                >Confirm</ion-button
              >
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-list>
            <ion-item>
              <ion-input
                type="text"
                placeholder="Title (Required)"
                required="true"
                [(ngModel)]="newEntry.title"
                ngDefaultControl
              >
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea
                placeholder="Description"
                [(ngModel)]="newEntry.description"
                ngDefaultControl
              >
              </ion-textarea>
            </ion-item>

            <ion-accordion-group class="full-width">
              <ion-accordion>
                <ion-item slot="header" class="full-width">
                  <ion-label>Select Time</ion-label>
                  <ion-text>
                    {{ newEntry.time }}
                  </ion-text>
                </ion-item>
                <div slot="content">
                  <ion-datetime
                    class="full-width"
                    presentation="time"
                    size="cover"
                    [(ngModel)]="newEntry.time"
                    ngDefaultControl
                    (ionChange)="onTimeChange($event)"
                  ></ion-datetime>
                </div>
              </ion-accordion>
            </ion-accordion-group>
            <ion-item>
              <ion-label>
                {{ displayDates().first }}
              </ion-label>
            </ion-item>
            <ng-container *ngIf="displayDates().last != null">
              <ion-item>
                <ion-label>
                  {{ displayDates().last }}
                </ion-label>
              </ion-item>
            </ng-container>
            <ion-item>
              <ion-button
                (click)="openColorModal()"
                [ngStyle]="{
                  '--background': currentColor,
                  '--color': '#000000'
                }"
                >Color</ion-button
              >
              <ion-modal
                #modal
                trigger="open-color"
                [isOpen]="isColorModalOpen"
                (didDismiss)="onColorModalDismiss($event)"
              >
                <ng-template>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="closeColorModal()"
                        >Cancel</ion-button
                      >
                    </ion-buttons>
                    <ion-buttons slot="end">
                      <ion-button (click)="confirmColorSelection()">
                        Done
                      </ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-picker>
                    <ion-picker-column
                      [value]="currentColor"
                      (ionChange)="onIonChange($event)"
                    >
                      <ion-picker-column-option value="#9cc2ff"
                        >Blue</ion-picker-column-option
                      >
                      <ion-picker-column-option value="#d2ff9c"
                        >Green</ion-picker-column-option
                      >
                      <ion-picker-column-option value="#ff9c9c"
                        >Red</ion-picker-column-option
                      >
                      <ion-picker-column-option value="#fff39c"
                        >Yellow</ion-picker-column-option
                      >
                    </ion-picker-column>
                  </ion-picker>
                </ng-template>
              </ion-modal>
            </ion-item>
            <ion-item>
              <ion-label>Authors</ion-label>
              <ion-select
                aria-label="Authors"
                placeholder="For who is this?"
                [multiple]="true"
                [(ngModel)]="newEntry.author"
              >
                <ion-select-option value="Yingsiu">Yingsiu</ion-select-option>
                <ion-select-option value="Michelle">Michelle</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
